#tooltip
{
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: darkseagreen;
}

#tooltip.hidden
{
    display: none;
}

#tooltip p
{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

#buttonHome
{
    width: 150px;
    height: 50px;
    position: relative;
    top: 15;
    left: 670;
}

h1
{
    text-align: center;
    color: black;
    font-family: 'Solway', serif;
}

#Scatter, #Time, #buttonHome
{
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

body
{
    background-color: #CECECE;
    color: black;
    font-family: 'Lato', sans-serif;
}

#Axis text
{
    font-family: 'Lato', sans-serif;
}

/*
generated scheme: 

#555B6E, #CECECE, #6F9283, #272635, #B8336A

*/